<div class="menu-content"> 

	<script type="text/javascript"  >
		//alert(<%= @test_var %>);
	</script>

    <div class="container">
        <div class="menu-filter">
            <form>
                <ul class="clearfix">
                    <li class="menu-select dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                        90036</a>
                        <div class="dropdown-menu filter-d-dwn">
                            <div class="zip-code">
                                <p>Recent Address</p>
                                <form>
                                    <div class="zip-box zip-change">
                                        <input type="text" placeholder="Zip Code" class="zip-field">
                                        <input type="button" value="Change Zip" class="zip-bttn">
                                    </div>
                                </form>
                                <p>View Address book </p>
                            </div>
                        </div>
                    </li>
                    <li class="menu-select dropdown">
                        <p class="date-bx"><span><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            <input type="text" id="datepicker" class="date-field"></p>
                    </li>
                    
                    <li class="menu-select dropdown md-box">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span><i class="fa fa-sliders" aria-hidden="true"></i></span>
                        Filter items</a>
                        <div class="dropdown-menu filter-d-dwn">
                            <div class="filter-item">
                                <ul>
                                    <li><a href="#">Vegetarian</a></li>
                                    <li><a href="#">Gluten-Free</a></li>
                                    <li><a href="#">Dairy-Free</a></li>
                                    <li><a href="#">Nut-Free</a></li>
                                    <li><a href="#">vegan</a></li>
                                    <li><a href="#">Egg-Free</a></li>
                                    <li><a href="#">Clear Filters</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    
                    <div class="cart-main">
                        <span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                    </div>
                    
                </ul>
            </form>    
        </div>    
        
        <div class="menu-slider">
                <div id="Carousel" class="carousel slide carousel-fade">
                    <ol class="carousel-indicators">
                        <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#Carousel" data-slide-to="1"></li>
                        <li data-target="#Carousel" data-slide-to="2"></li>
                      </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="../daily-menu/img/daily-menu-banner.jpg">
                            <div class="menu-cont">
                                <h1><span>LOREM IPSUM</span> DOLOR SIT AMET, CONSE.</h1>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit <br>voluptatem accusantium</p>
                            </div>
                        </div>
                       <div class="item">
                           <img src="../daily-menu/img/daily-menu-banner2.jpg">
                           <div class="menu-cont">
                                <h1><span>LOREM IPSUM</span> DOLOR SIT AMET, CONSE.</h1>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit <br>voluptatem accusantium</p>
                            </div>
                        </div>
                       <div class="item">
                           <img src="../daily-menu/img/daily-menu-banner3.jpg">
                           <div class="menu-cont">
                                <h1><span>LOREM IPSUM</span> DOLOR SIT AMET, CONSE.</h1>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit <br>voluptatem accusantium</p>
                            </div>
                        </div>
                    </div>
                </div>
                
             </div>
        
        <div class="main-dish content-sec">
            <div class="about-sec-1 menu-headng">
                <h1>MAIN DISHES</h1>
                <p>From our kitchen, ready to heat</p>
            </div>
            
            <div class="dish-outer">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="dish-box">
                            <a href="#">
                                <div class="dish-thumb">
                                    <img src="../daily-menu/img/menu-img-1.jpg">
                                </div>    
                                <div class="dish-info">
                                    <h4>$10.0</h4>
                                    <p>Chimichurri Steak &amp; Salad</p>
                                    <a href="#" class="add-cart">Add to cart</a>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dish-box">
                            <a href="#">
                                <div class="dish-thumb">
                                    <img src="../daily-menu/img/menu-img-2.jpg">
                                </div>    
                                <div class="dish-info">
                                    <h4>$10.0</h4>
                                    <p>Chimichurri Steak &amp; Salad</p>
                                    <a href="#" class="add-cart">Add to cart</a>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dish-box">
                            <a href="#">
                                <div class="dish-thumb">
                                    <img src="../daily-menu/img/menu-img-3.jpg">
                                </div>   
                                <div class="dish-info">
                                    <h4>$10.0</h4>
                                    <p>Chimichurri Steak &amp; Salad</p>
                                    <a href="#" class="add-cart">Add to cart</a>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dish-box">
                            <a href="#">
                                <div class="dish-thumb">
                                    <img src="../daily-menu/img/menu-img-4.jpg">
                                </div>   
                                <div class="dish-info">
                                    <h4>$10.0</h4>
                                    <p>Chimichurri Steak &amp; Salad</p>
                                    <a href="#" class="add-cart">Add to cart</a>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dish-box">
                            <a href="#">
                                <div class="dish-thumb">
                                    <img src="../daily-menu/img/menu-img-5.jpg">
                                </div>    
                                <div class="dish-info">
                                    <h4>$10.0</h4>
                                    <p>Chimichurri Steak &amp; Salad</p>
                                    <a href="#" class="add-cart">Add to cart</a>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dish-box">
                            <a href="#">
                                <div class="dish-thumb">
                                    <img src="../daily-menu/img/menu-img-6.jpg">
                                </div>    
                                <div class="dish-info">
                                    <h4>$10.0</h4>
                                    <p>Chimichurri Steak &amp; Salad</p>
                                    <a href="#" class="add-cart">Add to cart</a>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dish-box">
                            <a href="#">
                                <div class="dish-thumb">
                                    <img src="../daily-menu/img/menu-img-7.jpg">
                                </div>    
                                <div class="dish-info">
                                    <h4>$10.0</h4>
                                    <p>Chimichurri Steak &amp; Salad</p>
                                    <a href="#" class="add-cart">Add to cart</a>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dish-box">
                            <a href="#">
                                <div class="dish-thumb">
                                    <img src="../daily-menu/img/menu-img-8.jpg">
                                </div>    
                                <div class="dish-info">
                                    <h4>$10.0</h4>
                                    <p>Chimichurri Steak &amp; Salad</p>
                                    <a href="#" class="add-cart">Add to cart</a>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
        
        <div class="main-dish content-sec">
            <div class="about-sec-1 menu-headng">
                <h1>DRINKS</h1>
                <p>Lorem ipsum dolor sit arnet, consectetur</p>
            </div>
            
            <div class="dish-outer">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="dish-box">
                            <a href="#">
                                <div class="dish-thumb">
                                    <img src="../daily-menu/img/drink-img-1.jpg">
                                </div>    
                                <div class="dish-info">
                                    <h4>$10.0</h4>
                                    <p>2012 Octavia Chardonnay</p>
                                    <a href="#" class="add-cart">Add to cart</a>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dish-box">
                            <a href="#">
                                <div class="dish-thumb">
                                    <img src="../daily-menu/img/drink-img-2.jpg">
                                </div>    
                                <div class="dish-info">
                                    <h4>$10.0</h4>
                                    <p>2012 Octavia Chardonnay</p>
                                    <a href="#" class="add-cart">Add to cart</a>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dish-box">
                            <a href="#">
                                <div class="dish-thumb">
                                    <img src="../daily-menu/img/drink-img-3.jpg">
                                </div>    
                                <div class="dish-info">
                                    <h4>$10.0</h4>
                                    <p>2012 Octavia Chardonnay</p>
                                    <a href="#" class="add-cart">Add to cart</a>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dish-box">
                            <a href="#">
                                <div class="dish-thumb">
                                    <img src="../daily-menu/img/drink-img-4.jpg">
                                </div>    
                                <div class="dish-info">
                                    <h4>$10.0</h4>
                                    <p>2012 Octavia Chardonnay</p>
                                    <a href="#" class="add-cart">Add to cart</a>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dish-box">
                            <a href="#">
                                <div class="dish-thumb">
                                    <img src="../daily-menu/img/drink-img-5.jpg">
                                </div>    
                                <div class="dish-info">
                                    <h4>$10.0</h4>
                                    <p>2012 Octavia Chardonnay</p>
                                    <a href="#" class="add-cart">Add to cart</a>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dish-box">
                            <a href="#">
                                <div class="dish-thumb">
                                    <img src="../daily-menu/img/drink-img-6.jpg">
                                </div>
                                <div class="dish-info">
                                    <h4>$10.0</h4>
                                    <p>2012 Octavia Chardonnay</p>
                                    <a href="#" class="add-cart">Add to cart</a>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dish-box">
                            <a href="#">
                                <div class="dish-thumb">
                                    <img src="../daily-menu/img/drink-img-7.jpg">
                                </div>    
                                <div class="dish-info">
                                    <h4>$10.0</h4>
                                    <p>2012 Octavia Chardonnay</p>
                                    <a href="#" class="add-cart">Add to cart</a>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dish-box">
                            <a href="#">
                                <div class="dish-thumb">
                                    <img src="../daily-menu/img/drink-img-7.jpg">
                                    <div class="sold"><h3>SOLD OUT</h3></div>
                                </div>    
                                
                                <div class="dish-info">
                                    <h4>$10.0</h4>
                                    <p>2012 Octavia Chardonnay</p>
                                    <a href="#" class="add-cart">Add to cart</a>
                                </div>
                            </a>
                        </div>
                    </div>
            </div>
            
        </div>
        
        
    </div>
        
        <div class="main-dish content-sec no-border">
            <div class="about-sec-1 menu-headng">
                <h1>Others</h1>
                <p>Lorem ipsum dolor sit arnet, consectetur</p>
            </div>
            <div class="dish-outer">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="dish-box">
                            <a href="#">
                                <div class="dish-thumb">
                                    <img src="../daily-menu/img/other-menu-img-1.jpg">
                                </div>    
                                <div class="dish-info">
                                    <h4>$10.0</h4>
                                    <p>2012 Octavia Chardonnay</p>
                                    <a href="#" class="add-cart">Add to cart</a>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dish-box">
                            <a href="#">
                                <div class="dish-thumb">
                                    <img src="../daily-menu/img/other-menu-img-2.jpg">
                                </div>    
                                <div class="dish-info">
                                    <h4>$10.0</h4>
                                    <p>2012 Octavia Chardonnay</p>
                                    <a href="#" class="add-cart">Add to cart</a>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="dish-box">
                            <a href="#">
                                <div class="dish-thumb">
                                    <img src="../daily-menu/img/other-menu-img-3.jpg">
                                </div>    
                                <div class="dish-info">
                                    <h4>$10.0</h4>
                                    <p>2012 Octavia Chardonnay</p>
                                    <a href="#" class="add-cart">Add to cart</a>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>    
            
        </div>
        
</div>  